# Dependencies
node_modules/
.pnp
.pnp.js

# Production Build Output
dist/
dist-ssr/

# Local Environment & Logs
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System & Editor Files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project Skills & Agent Configs
skills/

